*{ overflow: hidden; }


#room{
	position:relative;
	left:0; right:0; top:0; bottom:0; margin: auto;
	width:1600px;
	height:900px;
}

#plant{
	position:absolute;
	left:700px; top:280px;
	width: 139px;
	height: 320px;
}
#chest{
	position:absolute;
	left:500px; top:440px;
	width: 311px;
	height: 253px;
}
#trashbin{
	position:absolute;
	left:300px; top:610px;
	width: 160px;
	height: 118px;
}
#bag{
	position:absolute;
	left:410px; top:570px;
	width: 158px;
		height: 126px;
}
#flower{
	position:absolute;
	left:530px; top:360px;
	width: 165px;
	height: 146px;
}
#bed{
	position:absolute;
	left:580px; top:580px;
	width: 513px;
	height: 254px;
}
#closet{
	position:absolute;
	left:900px; top:260px;
	width: 396px;
	height: 519px;
}
#cat{
	position:absolute;
	left:570px; top:685px;
	width: 173px;
	height: 131px;
}


	#upper_chest_clickable{
		position:absolute;
		left:565px; top:490px;
		width: 170px;
		height: 78px;
		
	}
	#lower_chest_clickable{
		position:absolute;
		left:565px; top:575px;
		width: 170px;
		height: 78px;
	}
	#closet_clickable{
		position:absolute;
		left:1000px; top:290px;
		width: 202px;
		height: 424px;
	}
	#bed_clickable{
		position:absolute;
		left:660px; top:605px;
		width: 400px;
		height: 174px;
	}
	#plant_clickable{
		position:absolute;
		left:725px; top:280px;
		width: 100px;
		height: 324px;
	}
	#flower_clickable{
		position:absolute;
		left:575px; top:340px;
		width: 49px;
		height: 138px;
	}
	#flower_broken_clickable{
		position:absolute;
		left:535px; top:430px;
		width: 165px;
		height: 60px;
	}

